table, tr, td {
    border: 0.1rem solid black;
    border-collapse: collapse;
    padding: 0.8rem;
    text-align: center;
    font-weight: bold;
 }

 thead {
    background-color: firebrick;
    color: azure;
 }

 table {
   box-shadow: 5px 5px 15px 5px #144e75;
 }

 #addRow {
   margin: 1rem 3rem 3rem 3rem;
   padding: 0.5rem;
 }